In [1]:
#!pip install faker
from faker import Faker
import pandas as pd
import random

from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

In [2]:
# this would give me 100 dates incremented daily from the starting point
# er_dates = pd.date_range(start='1/1/2020', periods=100)

In [3]:
# For this, I want randomly selected dates within a range
# using techniques from here: 
# https://stackoverflow.com/questions/553303/generate-a-random-date-between-two-other-dates
# and using the "faker" approach

In [4]:
fake = Faker()
    
er_dates = []
er_arrivals = []

for i in range(100):
    er_arrivals.append(random.randint(0,50))

    er_dates.append(fake.date_between(start_date='today', end_date='+3y'))

In [5]:
df = pd.DataFrame({'er_date':er_dates, 'er_arrivals':er_arrivals})

In [6]:
df.head()

      er_date  er_arrivals
0  2020-10-12           33
1  2023-08-02           19
2  2022-05-18           12
3  2021-09-01           37
4  2023-01-01           18

In [7]:
# now find all dates within 6 months of a date

In [8]:
len(df)

100

In [9]:
# SQLITE date/time functions
# https://www.sqlite.org/lang_datefunc.html

In [28]:
# since we set up a 3 year range, and dates are random, about a third should show up in the first year
pysqldf("SELECT * FROM df WHERE er_date < date('now', '+1 year')")

       er_date  er_arrivals
0   2020-10-12           33
1   2021-09-01           37
2   2021-04-05           43
3   2021-01-19           15
4   2021-01-29           32
5   2021-01-26           29
6   2021-04-18            8
7   2021-02-19           20
8   2020-11-25           40
9   2021-07-09            8
10  2021-04-04           11
11  2021-01-28            4
12  2021-04-09           34
13  2021-02-06           29
14  2021-01-29           13
15  2021-05-02           31
16  2021-01-31           40
17  2021-05-30           49
18  2021-01-21            6
19  2021-06-15           33
20  2020-12-08           22
21  2021-01-05           20
22  2021-01-17           13
23  2021-02-21           49
24  2021-01-23           50
25  2021-10-03           31
26  2020-11-16            8
27  2021-09-19            0
28  2021-01-01           35
29  2021-06-24           46
30  2021-05-27           10
31  2021-03-15            6

In [29]:
pysqldf(""SELECT * FROM df WHERE DATE(er_date) BETWEEN DATE('2022-01-01', '-12 months') AND DATE('2022-01-01', '+12 months')")

       er_date  er_arrivals
0   2022-05-18           12
1   2021-09-01           37
2   2023-01-01           18
3   2022-05-07           47
4   2022-01-10           38
5   2022-05-18           36
6   2022-04-21           22
7   2022-03-17           38
8   2022-06-30           34
9   2021-04-05           43
10  2021-01-19           15
11  2021-01-29           32
12  2022-11-28           20
13  2021-01-26           29
14  2021-12-18           47
15  2022-06-18           21
16  2022-01-08           30
17  2022-02-21           22
18  2021-12-21            9
19  2021-04-18            8
20  2022-05-11           16
21  2022-06-24           40
22  2022-09-10            9
23  2021-02-19           20
24  2022-05-30           36
25  2022-05-22           24
26  2022-09-12           35
27  2022-04-13           42
28  2021-11-30           22
29  2021-07-09            8
..         ...          ...
44  2021-01-21            6
45  2022-11-09           38
46  2021-06-15           33
47  2021-01-05           20
48  2022-05-10           38
49  2021-01-17           13
50  2021-02-21           49
51  2022-06-14           17
52  2021-01-23           50
53  2022-09-05           44
54  2022-01-21           42
55  2021-10-03           31
56  2022-07-10           13
57  2022-03-05           44
58  2022-12-19            5
59  2022-07-03           39
60  2022-03-04           48
61  2021-11-24           38
62  2021-11-11           47
63  2022-08-23            5
64  2021-09-19            0
65  2022-02-28           46
66  2022-12-27           28
67  2021-01-01           35
68  2021-06-24           46
69  2022-09-15           19
70  2021-05-27           10
71  2022-03-11           32
72  2021-12-26           20
73  2021-03-15            6

[74 rows x 2 columns]