In [83]:
from datetime import date
import random
import pandas as pd

In [84]:
def pick_date(): 
    start_date = date.today().replace(day=1, month=1).toordinal()
    end_date = date.today().replace(day=31, month=12).toordinal()
    random_day = date.fromordinal(random.randint(start_date, end_date))
    return random_day

In [114]:
patient_ids = []
er_visits = [] 
hospitalizations = []

num_patients = 100

for i in range(num_patients):
    v = random.randint(0,20)
    h = random.randint(0,v)
    
    patient_ids.append(i)
    er_visits.append(v)
    hospitalizations.append(h)

In [115]:
df = pd.DataFrame({"patient_id": patient_ids, "er_visits": er_visits, "hospitalizations": hospitalizations})

In [116]:
df.head(10)

   patient_id  er_visits  hospitalizations
0           0         10                10
1           1         17                 3
2           2         15                 6
3           3          3                 2
4           4          1                 0
5           5         20                14
6           6         14                11
7           7          4                 3
8           8          1                 0
9           9          3                 0

In [117]:
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

In [88]:
df_visits.head(10)

   patient_id er_visit_date
0           0    2020-09-02
1           0    2020-08-20
2           0    2020-11-27
3           0    2020-01-16
4           0    2020-02-25
5           0    2020-05-19
6           0    2020-08-26
7           0    2020-03-07
8           0    2020-05-24
9           0    2020-08-19