In [83]:
from datetime import date
import random
import pandas as pd

In [84]:
def pick_date(): 
    start_date = date.today().replace(day=1, month=1).toordinal()
    end_date = date.today().replace(day=31, month=12).toordinal()
    random_day = date.fromordinal(random.randint(start_date, end_date))
    return random_day

In [124]:
patient_ids = []
er_visits = [] 
hospitalizations = []

num_patients = 100

for i in range(num_patients):
    v = random.randint(0,100)
    h = random.randint(0,v)
    
    patient_ids.append(i)
    er_visits.append(v)
    hospitalizations.append(h)

In [125]:
df = pd.DataFrame({"patient_id": patient_ids, "er_visits": er_visits, "hospitalizations": hospitalizations})

In [126]:
df.head(10)

   patient_id  er_visits  hospitalizations
0           0         80                 4
1           1         59                54
2           2          5                 5
3           3         21                 4
4           4         68                19
5           5         59                54
6           6         34                24
7           7         82                41
8           8         15                10
9           9         70                63

In [127]:
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

In [130]:
pysqldf("""
SELECT 
    patient_id, 
    er_visits,
    hospitalizations,
    DENSE_RANK() OVER (ORDER BY er_visits DESC) AS visits_rnk,
    DENSE_RANK() OVER (ORDER BY hospitalizations DESC) AS hsp_rnk
FROM df
    
""")

    patient_id  er_visits  hospitalizations  visits_rnk  hsp_rnk
0           11         98                 5           1       42
1           45         96                17           2       32
2           68         95                77           3        1
3           23         95                60           3        8
4           80         95                 7           3       40
5           92         95                 1           3       46
6           36         94                52           4       11
7           24         93                16           5       33
8           87         92                54           6       10
9           77         91                22           7       27
10          32         91                18           7       31
11          99         90                 7           8       40
12          60         87                46           9       13
13          20         86                48          10       12
14          67         83                72          11        3
15           7         82                41          12       15
16          53         82                35          12       18
17           0         80                 4          13       43
18          69         77                65          14        5
19          50         77                62          14        7
20          14         77                31          14       21
21          78         77                 2          14       45
22          65         76                71          15        4
23          54         76                25          15       24
24          46         75                73          16        2
25          41         75                55          16        9
26          37         74                 7          17       40
27          74         71                39          18       17
28           9         70                63          19        6
29          75         68                44          20       14
..         ...        ...               ...         ...      ...
70          57         22                22          44       27
71          18         22                21          44       28
72          90         22                13          44       36
73          43         22                 5          44       42
74           3         21                 4          45       43
75          19         21                 4          45       43
76          72         19                19          46       30
77          25         19                 7          46       40
78          35         18                 1          47       46
79          62         17                15          48       34
80          16         16                10          49       38
81           8         15                10          50       38
82          98         14                10          51       38
83          39         13                 3          52       44
84          10         13                 2          52       45
85          40         13                 0          52       47
86          95         12                 9          53       39
87          66         12                 1          53       46
88          27         10                 7          54       40
89          84          9                 3          55       44
90           2          5                 5          56       42
91          26          5                 3          56       44
92          13          3                 1          57       46
93          33          3                 0          57       47
94          59          2                 2          58       45
95          17          2                 1          58       46
96          56          2                 0          58       47
97          42          1                 0          59       47
98          88          0                 0          60       47
99          94          0                 0          60       47

[100 rows x 5 columns]

In [173]:
visit_dates = []
hospitalized = []
event_ids = []

num_dates = 100

for i in range(num_dates):
    num_events = random.randint(1,100)
    for j in range(num_events):
        event_ids.append(i)
        visit_dates.append(pick_date())
        hospitalized.append(random.choice([1, None]))

In [174]:
df = pd.DataFrame({"event_id": event_ids, "visit_date": visit_dates, "hospitalized": hospitalized})

In [175]:
df.head(20)

    event_id  visit_date  hospitalized
0          0  2020-10-11           NaN
1          0  2020-01-25           NaN
2          0  2020-05-02           1.0
3          0  2020-06-07           NaN
4          0  2020-03-03           NaN
5          0  2020-08-25           1.0
6          0  2020-11-20           NaN
7          0  2020-02-12           NaN
8          0  2020-04-14           NaN
9          0  2020-01-28           1.0
10         0  2020-01-26           1.0
11         0  2020-04-25           1.0
12         0  2020-11-13           NaN
13         0  2020-04-14           1.0
14         0  2020-02-14           NaN
15         0  2020-08-18           1.0
16         0  2020-04-27           NaN
17         0  2020-09-07           NaN
18         0  2020-12-04           1.0
19         0  2020-07-12           1.0

In [176]:
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

In [181]:
pysqldf("""
SELECT
    visit_date, 
    COUNT(visit_date), 
    COUNT(hospitalized) as num_hospitalizations
FROM
    df
GROUP BY 
    visit_date
ORDER BY 
    num_hospitalizations DESC
""")

     visit_date  COUNT(visit_date)  num_hospitalizations
0    2020-07-12                 22                    15
1    2020-08-20                 22                    15
2    2020-03-01                 19                    14
3    2020-08-01                 25                    14
4    2020-08-04                 23                    14
5    2020-01-14                 21                    13
6    2020-01-19                 15                    13
7    2020-04-27                 22                    13
8    2020-07-24                 24                    13
9    2020-07-29                 20                    13
10   2020-09-10                 21                    13
11   2020-09-16                 18                    13
12   2020-12-30                 19                    13
13   2020-01-03                 25                    12
14   2020-01-12                 26                    12
15   2020-01-24                 20                    12
16   2020-02-25                 22                    12
17   2020-03-06                 16                    12
18   2020-05-25                 18                    12
19   2020-08-06                 15                    12
20   2020-08-25                 19                    12
21   2020-10-07                 19                    12
22   2020-01-18                 14                    11
23   2020-03-02                 15                    11
24   2020-03-16                 17                    11
25   2020-03-29                 17                    11
26   2020-04-14                 20                    11
27   2020-04-17                 22                    11
28   2020-04-30                 16                    11
29   2020-05-04                 16                    11
..          ...                ...                   ...
336  2020-01-29                 15                     3
337  2020-02-09                  7                     3
338  2020-02-12                 10                     3
339  2020-03-15                  7                     3
340  2020-05-09                  6                     3
341  2020-05-31                  8                     3
342  2020-06-03                 13                     3
343  2020-06-19                  8                     3
344  2020-07-16                 11                     3
345  2020-07-19                  7                     3
346  2020-07-20                  9                     3
347  2020-08-10                 10                     3
348  2020-08-24                  8                     3
349  2020-09-12                  9                     3
350  2020-10-14                 11                     3
351  2020-10-16                 11                     3
352  2020-10-20                 14                     3
353  2020-11-25                 14                     3
354  2020-12-21                 15                     3
355  2020-12-24                 10                     3
356  2020-01-31                 13                     2
357  2020-02-14                  8                     2
358  2020-05-05                 11                     2
359  2020-05-29                 10                     2
360  2020-07-03                 13                     2
361  2020-08-29                 10                     2
362  2020-09-19                 12                     2
363  2020-11-13                 11                     2
364  2020-12-28                  7                     2
365  2020-05-01                  7                     1

[366 rows x 3 columns]

     visit_date  COUNT(visit_date)  num_hospitalizations
0    2020-07-12                 22                    15
1    2020-08-20                 22                    15
2    2020-03-01                 19                    14
3    2020-08-01                 25                    14
4    2020-08-04                 23                    14
5    2020-01-14                 21                    13
6    2020-01-19                 15                    13
7    2020-04-27                 22                    13
8    2020-07-24                 24                    13
9    2020-07-29                 20                    13
10   2020-09-10                 21                    13
11   2020-09-16                 18                    13
12   2020-12-30                 19                    13
13   2020-01-03                 25                    12
14   2020-01-12                 26                    12
15   2020-01-24                 20                    12
16   2020-02-25                 22                    12
17   2020-03-06                 16                    12
18   2020-05-25                 18                    12
19   2020-08-06                 15                    12
20   2020-08-25                 19                    12
21   2020-10-07                 19                    12
22   2020-01-18                 14                    11
23   2020-03-02                 15                    11
24   2020-03-16                 17                    11
25   2020-03-29                 17                    11
26   2020-04-14                 20                    11
27   2020-04-17                 22                    11
28   2020-04-30                 16                    11
29   2020-05-04                 16                    11
..          ...                ...                   ...
336  2020-01-29                 15                     3
337  2020-02-09                  7                     3
338  2020-02-12                 10                     3
339  2020-03-15                  7                     3
340  2020-05-09                  6                     3
341  2020-05-31                  8                     3
342  2020-06-03                 13                     3
343  2020-06-19                  8                     3
344  2020-07-16                 11                     3
345  2020-07-19                  7                     3
346  2020-07-20                  9                     3
347  2020-08-10                 10                     3
348  2020-08-24                  8                     3
349  2020-09-12                  9                     3
350  2020-10-14                 11                     3
351  2020-10-16                 11                     3
352  2020-10-20                 14                     3
353  2020-11-25                 14                     3
354  2020-12-21                 15                     3
355  2020-12-24                 10                     3
356  2020-01-31                 13                     2
357  2020-02-14                  8                     2
358  2020-05-05                 11                     2
359  2020-05-29                 10                     2
360  2020-07-03                 13                     2
361  2020-08-29                 10                     2
362  2020-09-19                 12                     2
363  2020-11-13                 11                     2
364  2020-12-28                  7                     2
365  2020-05-01                  7                     1

[366 rows x 3 columns]