### Covid Cases By State

https://www.cdc.gov/covid-data-tracker/#cases

How can we find states that have similar numbers of COVID cases (total or per capita)? 
For example, let's write a SQL query to find all states that have similar infection numbers.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/US_MAP_DATA.csv')

In [3]:
df

,abbr,fips,jurisdiction,Total Cases,Total Death,Death_100k,CasesInLast7Days,RatePer100000
0,AK,2,Alaska,2729,22,3.0,688,370
1,AL,1,Alabama,82530,1493,31.0,12104,1688
2,AR,5,Arkansas,40181,428,14.0,5516,1333
3,AS,60,American Samoa,0,0,NaN,0,0
4,AZ,4,Arizona,165934,3408,48.0,17251,2314
5,CA,6,California,466550,8518,22.0,65781,1179
6,CO,8,Colorado,45314,1807,32.0,4255,796
7,CT,9,Connecticut,49077,4423,124.0,981,1374
8,DC,11,District of Columbia,11945,583,83.0,518,1700
9,DE,10,Delaware,14602,581,60.0,810,1510
10,FL,12,Florida,436867,6117,29.0,71623,2051
11,FSM,64,Federated States of Micronesia,0,0,NaN,0,0
12,GA,13,Georgia,175052,3563,34.0,26064,1664
13,GU,66,Guam,351,5,3.0,21,212
14,HI,15,Hawaii,1647,26,2.0,337,116
15,IA,19,Iowa,42782,839,27.0,3309,1356
16,ID,16,Idaho,19222,160,9.0,3400,1096
17,IL,17,Illinois,174973,7638,60.0,10095,1373
18,IN,18,Indiana,63678,2924,44.0,5762,952
19,KS,20,Kansas,26172,335,12.0,2838,899
20,KY,21,Kentucky,28126,719,16.0,4066,629
21,LA,22,Louisiana,111038,3812,82.0,14455,2383
22,MA,25,Massachusetts,116182,8551,124.0,2149,1683
23,MD,24,Maryland,86285,3478,58.0,6113,1428
24,ME,23,Maine,3866,121,9.0,144,289
25,MI,26,Michigan,87958,6421,64.0,4899,881
26,MN,27,Minnesota,52947,1629,29.0,4986,944
27,MO,29,Missouri,44823,1213,20.0,10061,732
28,MP,69,Northern Mariana Islands,40,2,4.0,2,0
29,MS,28,Mississippi,55804,1563,52.0,8733,1868
...,...,...,...,...,...,...,...,...
31,NC,37,North Carolina,116087,1820,18.0,13226,1118
32,ND,38,North Dakota,6227,102,13.0,860,819
33,NE,31,Nebraska,25157,321,17.0,1967,1304
34,NH,33,New Hampshire,6500,409,30.0,238,479
35,NJ,34,New Jersey,180295,15825,178.0,3039,2024
36,NM,35,New Mexico,19791,626,30.0,2274,944
37,NV,32,Nevada,45151,785,26.0,7410,1488
38,NY,36,New York,188629,8826,79.0,2542,1693
39,NYC,57,New York City,225850,23512,280.0,2092,2689
40,OH,39,Ohio,86497,3382,29.0,9282,740
41,OK,40,Oklahoma,34990,503,13.0,8664,887
42,OR,41,Oregon,17416,303,7.0,2277,416
43,PA,42,Pennsylvania,110218,7162,56.0,6822,861
44,PR,72,Puerto Rico,16061,211,7.0,3023,503
45,PW,70,Palau,0,0,NaN,0,0
46,RI,44,Rhode Island,18725,1005,95.0,739,1771
47,RMI,68,Republic of Marshall Islands,0,0,NaN,0,0
48,SC,45,South Carolina,84109,1565,31.0,10772,1654
49,SD,46,South Dakota,8492,123,14.0,473,963
50,TN,47,Tennessee,99044,999,15.0,17100,1463
51,TX,48,Texas,394265,5877,20.0,52526,1374
52,UT,49,Utah,39337,292,9.0,3689,1244
53,VA,51,Virginia,87993,2125,25.0,7600,1033
54,VI,78,Virgin Islands,385,8,8.0,77,368
55,VT,50,Vermont,1405,56,9.0,39,224
56,WA,53,Washington,54205,1548,21.0,5630,719
57,WI,55,Wisconsin,54064,913,16.0,6228,930
58,WV,54,West Virginia,6173,111,6.0,974,342
59,WY,56,Wyoming,2589,26,5.0,351,448
60,US,0,United States of America,4339997,148866,2150.0,0,1324

In [4]:
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

You may notice that "Total Cases" has a space in it. Spaces aren't allowed in SQL when referring to table names. A quick fix here is to put back ticks aroudn it, `Total Cases`. Note that these are ticks, not quotes! (you'll generally find them in the upper left corner of your keyboard).

In [5]:
pysqldf("""
SELECT 
    abbr, `Total Cases`
FROM 
    df
""")

   abbr  Total Cases
0    AK         2729
1    AL        82530
2    AR        40181
3    AS            0
4    AZ       165934
5    CA       466550
6    CO        45314
7    CT        49077
8    DC        11945
9    DE        14602
10   FL       436867
11  FSM            0
12   GA       175052
13   GU          351
14   HI         1647
15   IA        42782
16   ID        19222
17   IL       174973
18   IN        63678
19   KS        26172
20   KY        28126
21   LA       111038
22   MA       116182
23   MD        86285
24   ME         3866
25   MI        87958
26   MN        52947
27   MO        44823
28   MP           40
29   MS        55804
..  ...          ...
31   NC       116087
32   ND         6227
33   NE        25157
34   NH         6500
35   NJ       180295
36   NM        19791
37   NV        45151
38   NY       188629
39  NYC       225850
40   OH        86497
41   OK        34990
42   OR        17416
43   PA       110218
44   PR        16061
45   PW            0
46   RI        18725
47  RMI            0
48   SC        84109
49   SD         8492
50   TN        99044
51   TX       394265
52   UT        39337
53   VA        87993
54   VI          385
55   VT         1405
56   WA        54205
57   WI        54064
58   WV         6173
59   WY         2589
60   US      4339997

[61 rows x 2 columns]

If you'd rather not deal with this repeatedly, you can rename the column in SQL or pandas - we'll use pandas here.

In [6]:
df.rename(columns={'Total Cases': 'Total_Cases'}, inplace=True)

Let's start by finding states that have total cases within 10000 of each other.

In [7]:
pysqldf("""
SELECT
    a.abbr as abbr_a, 
    b.abbr as abbr_b, 
    a.Total_Cases as total_a,
    b.Total_Cases as total_b
FROM   
    df a
JOIN 
    df b 
ON
    ABS(total_a - total_b) < 10000
AND
    abbr_a <> abbr_b
AND
    abbr_a > abbr_b
""")

    abbr_a abbr_b  total_a  total_b
0       AS     AK        0     2729
1       CO     AR    45314    40181
2       CT     AR    49077    40181
3       CT     CO    49077    45314
4       DC     AK    11945     2729
5       DE     DC    14602    11945
6      FSM     AK        0     2729
7      FSM     AS        0        0
8       GA     AZ   175052   165934
9       GU     AK      351     2729
10      GU     AS      351        0
11      GU    FSM      351        0
12      HI     AK     1647     2729
13      HI     AS     1647        0
14      HI    FSM     1647        0
15      HI     GU     1647      351
16      IA     AR    42782    40181
17      IA     CO    42782    45314
18      IA     CT    42782    49077
19      ID     DC    19222    11945
20      ID     DE    19222    14602
21      IL     AZ   174973   165934
22      IL     GA   174973   175052
23      KS     ID    26172    19222
24      KY     ID    28126    19222
25      KY     KS    28126    26172
26      MA     LA   116182   111038
27      MD     AL    86285    82530
28      ME     AK     3866     2729
29      ME     AS     3866        0
..     ...    ...      ...      ...
236     WV     GU     6173      351
237     WV     HI     6173     1647
238     WV     ME     6173     3866
239     WV     MP     6173       40
240     WV     MT     6173     3667
241     WV     ND     6173     6227
242     WV     NH     6173     6500
243     WV     PR     6173    16061
244     WV     PW     6173        0
245     WV    RMI     6173        0
246     WV     SD     6173     8492
247     WV     VI     6173      385
248     WV     VT     6173     1405
249     WY     AK     2589     2729
250     WY     AS     2589        0
251     WY     DC     2589    11945
252     WY    FSM     2589        0
253     WY     GU     2589      351
254     WY     HI     2589     1647
255     WY     ME     2589     3866
256     WY     MP     2589       40
257     WY     MT     2589     3667
258     WY     ND     2589     6227
259     WY     NH     2589     6500
260     WY     PW     2589        0
261     WY    RMI     2589        0
262     WY     SD     2589     8492
263     WY     VI     2589      385
264     WY     VT     2589     1405
265     WY     WV     2589     6173

[266 rows x 4 columns]

Which states have a total case count within 1,000 of each other?

In [8]:
pysqldf("""
SELECT 
    *
FROM 
    df a
JOIN
    df b
WHERE 
    a.abbr = 'CA'
""")

,abbr,fips,jurisdiction,Total_Cases,Total Death,Death_100k,CasesInLast7Days,RatePer100000,abbr,fips,jurisdiction,Total_Cases,Total Death,Death_100k,CasesInLast7Days,RatePer100000
0,CA,6,California,466550,8518,22.0,65781,1179,AK,2,Alaska,2729,22,3.0,688,370
1,CA,6,California,466550,8518,22.0,65781,1179,AL,1,Alabama,82530,1493,31.0,12104,1688
2,CA,6,California,466550,8518,22.0,65781,1179,AR,5,Arkansas,40181,428,14.0,5516,1333
3,CA,6,California,466550,8518,22.0,65781,1179,AS,60,American Samoa,0,0,NaN,0,0
4,CA,6,California,466550,8518,22.0,65781,1179,AZ,4,Arizona,165934,3408,48.0,17251,2314
5,CA,6,California,466550,8518,22.0,65781,1179,CA,6,California,466550,8518,22.0,65781,1179
6,CA,6,California,466550,8518,22.0,65781,1179,CO,8,Colorado,45314,1807,32.0,4255,796
7,CA,6,California,466550,8518,22.0,65781,1179,CT,9,Connecticut,49077,4423,124.0,981,1374
8,CA,6,California,466550,8518,22.0,65781,1179,DC,11,District of Columbia,11945,583,83.0,518,1700
9,CA,6,California,466550,8518,22.0,65781,1179,DE,10,Delaware,14602,581,60.0,810,1510
10,CA,6,California,466550,8518,22.0,65781,1179,FL,12,Florida,436867,6117,29.0,71623,2051
11,CA,6,California,466550,8518,22.0,65781,1179,FSM,64,Federated States of Micronesia,0,0,NaN,0,0
12,CA,6,California,466550,8518,22.0,65781,1179,GA,13,Georgia,175052,3563,34.0,26064,1664
13,CA,6,California,466550,8518,22.0,65781,1179,GU,66,Guam,351,5,3.0,21,212
14,CA,6,California,466550,8518,22.0,65781,1179,HI,15,Hawaii,1647,26,2.0,337,116
15,CA,6,California,466550,8518,22.0,65781,1179,IA,19,Iowa,42782,839,27.0,3309,1356
16,CA,6,California,466550,8518,22.0,65781,1179,ID,16,Idaho,19222,160,9.0,3400,1096
17,CA,6,California,466550,8518,22.0,65781,1179,IL,17,Illinois,174973,7638,60.0,10095,1373
18,CA,6,California,466550,8518,22.0,65781,1179,IN,18,Indiana,63678,2924,44.0,5762,952
19,CA,6,California,466550,8518,22.0,65781,1179,KS,20,Kansas,26172,335,12.0,2838,899
20,CA,6,California,466550,8518,22.0,65781,1179,KY,21,Kentucky,28126,719,16.0,4066,629
21,CA,6,California,466550,8518,22.0,65781,1179,LA,22,Louisiana,111038,3812,82.0,14455,2383
22,CA,6,California,466550,8518,22.0,65781,1179,MA,25,Massachusetts,116182,8551,124.0,2149,1683
23,CA,6,California,466550,8518,22.0,65781,1179,MD,24,Maryland,86285,3478,58.0,6113,1428
24,CA,6,California,466550,8518,22.0,65781,1179,ME,23,Maine,3866,121,9.0,144,289
25,CA,6,California,466550,8518,22.0,65781,1179,MI,26,Michigan,87958,6421,64.0,4899,881
26,CA,6,California,466550,8518,22.0,65781,1179,MN,27,Minnesota,52947,1629,29.0,4986,944
27,CA,6,California,466550,8518,22.0,65781,1179,MO,29,Missouri,44823,1213,20.0,10061,732
28,CA,6,California,466550,8518,22.0,65781,1179,MP,69,Northern Mariana Islands,40,2,4.0,2,0
29,CA,6,California,466550,8518,22.0,65781,1179,MS,28,Mississippi,55804,1563,52.0,8733,1868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,CA,6,California,466550,8518,22.0,65781,1179,NC,37,North Carolina,116087,1820,18.0,13226,1118
32,CA,6,California,466550,8518,22.0,65781,1179,ND,38,North Dakota,6227,102,13.0,860,819
33,CA,6,California,466550,8518,22.0,65781,1179,NE,31,Nebraska,25157,321,17.0,1967,1304
34,CA,6,California,466550,8518,22.0,65781,1179,NH,33,New Hampshire,6500,409,30.0,238,479
35,CA,6,California,466550,8518,22.0,65781,1179,NJ,34,New Jersey,180295,15825,178.0,3039,2024
36,CA,6,California,466550,8518,22.0,65781,1179,NM,35,New Mexico,19791,626,30.0,2274,944
37,CA,6,California,466550,8518,22.0,65781,1179,NV,32,Nevada,45151,785,26.0,7410,1488
38,CA,6,California,466550,8518,22.0,65781,1179,NY,36,New York,188629,8826,79.0,2542,1693
39,CA,6,California,466550,8518,22.0,65781,1179,NYC,57,New York City,225850,23512,280.0,2092,2689
40,CA,6,California,466550,8518,22.0,65781,1179,OH,39,Ohio,86497,3382,29.0,9282,740
41,CA,6,California,466550,8518,22.0,65781,1179,OK,40,Oklahoma,34990,503,13.0,8664,887
42,CA,6,California,466550,8518,22.0,65781,1179,OR,41,Oregon,17416,303,7.0,2277,416
43,CA,6,California,466550,8518,22.0,65781,1179,PA,42,Pennsylvania,110218,7162,56.0,6822,861
44,CA,6,California,466550,8518,22.0,65781,1179,PR,72,Puerto Rico,16061,211,7.0,3023,503
45,CA,6,California,466550,8518,22.0,65781,1179,PW,70,Palau,0,0,NaN,0,0
46,CA,6,California,466550,8518,22.0,65781,1179,RI,44,Rhode Island,18725,1005,95.0,739,1771
47,CA,6,California,466550,8518,22.0,65781,1179,RMI,68,Republic of Marshall Islands,0,0,NaN,0,0
48,CA,6,California,466550,8518,22.0,65781,1179,SC,45,South Carolina,84109,1565,31.0,10772,1654
49,CA,6,California,466550,8518,22.0,65781,1179,SD,46,South Dakota,8492,123,14.0,473,963
50,CA,6,California,466550,8518,22.0,65781,1179,TN,47,Tennessee,99044,999,15.0,17100,1463
51,CA,6,California,466550,8518,22.0,65781,1179,TX,48,Texas,394265,5877,20.0,52526,1374
52,CA,6,California,466550,8518,22.0,65781,1179,UT,49,Utah,39337,292,9.0,3689,1244
53,CA,6,California,466550,8518,22.0,65781,1179,VA,51,Virginia,87993,2125,25.0,7600,1033
54,CA,6,California,466550,8518,22.0,65781,1179,VI,78,Virgin Islands,385,8,8.0,77,368
55,CA,6,California,466550,8518,22.0,65781,1179,VT,50,Vermont,1405,56,9.0,39,224
56,CA,6,California,466550,8518,22.0,65781,1179,WA,53,Washington,54205,1548,21.0,5630,719
57,CA,6,California,466550,8518,22.0,65781,1179,WI,55,Wisconsin,54064,913,16.0,6228,930
58,CA,6,California,466550,8518,22.0,65781,1179,WV,54,West Virginia,6173,111,6.0,974,342
59,CA,6,California,466550,8518,22.0,65781,1179,WY,56,Wyoming,2589,26,5.0,351,448
60,CA,6,California,466550,8518,22.0,65781,1179,US,0,United States of America,4339997,148866,2150.0,0,1324

#### Exercise

Modify the SQL above to find which states don't have a total case count within 1,000 of any other state.

#### Using a Cross Product

This question came up during the most recent SQL workshop - what happens when you don't specify a JOIN condition. 
Are there times when you'd want the entire cross-product of two tables?

Yes, there are times when you want to take the entire cross product of two tables, to get every possible pairing of rows from two (or more) different tables. Keep in mind that this can produce extremely large result sets quickly! If you're dealing with large tables (or multiple tables), you may want to reconsider your query and try to find a way reduce the result set. 

We can either use a JOIN with no ON condition or use a CROSS JOIN. I prefer to use the CROSS JOIN syntax, as it makes it clear in the query that I really do intend to take the full cross product, and haven't just forgotten to include an ON condition in my SQL query. Forgetting to include an ON clause in a JOIN is a fairly common SQL bug (actually, when my queries are taking an unexpectedly long time to run, this is the first thing I check). 

To illustrate, let's write a SQL query to find each state and state with the closest number of cases.

In [32]:
# first, get it all for california
pysqldf("""
SELECT
    a.abbr AS abbr_a,
    b.abbr AS abbr_b,
    MIN(ABS(a.total_cases - b.total_cases)) AS min_diff
FROM
    df a
CROSS JOIN
    df b
WHERE
    abbr_a = 'CA'
AND 
    abbr_b != 'CA'
GROUP BY
    abbr_a
""")

  abbr_a abbr_b  min_diff
0     CA     FL     29683

In [27]:
# for all states
pysqldf("""
SELECT
    a.abbr AS abbr_a,
    b.abbr AS abbr_b,
    MIN(ABS(a.total_cases - b.total_cases)) AS min_diff
FROM
    df a
CROSS JOIN
    df b
WHERE 
    abbr_a <> abbr_b
GROUP BY
    abbr_a
""")

   abbr_a abbr_b  min_diff
0      AK     WY       140
1      AL     SC      1579
2      AR     UT       844
3      AS    FSM         0
4      AZ     IL      9039
5      CA     FL     29683
6      CO     NV       163
7      CT     CO      3763
8      DC     DE      2657
9      DE     PR      1459
10     FL     CA     29683
11    FSM     AS         0
12     GA     IL        79
13     GU     VI        34
14     HI     VT       242
15     IA     MO      2041
16     ID     RI       497
17     IL     GA        79
18     IN     MS      7874
19     KS     NE      1015
20     KY     KS      1954
21     LA     PA       820
22     MA     NC        95
23     MD     OH       212
24     ME     MT       199
25     MI     VA        35
26     MN     WI      1117
27     MO     NV       328
28     MP     AS        40
29     MS     WA      1599
..    ...    ...       ...
31     NC     MA        95
32     ND     WV        54
33     NE     KS      1015
34     NH     ND       273
35     NJ     GA      5243
36     NM     ID       569
37     NV     CO       163
38     NY     NJ      8334
39    NYC     NY     37221
40     OH     MD       212
41     OK     UT      4347
42     OR     RI      1309
43     PA     LA       820
44     PR     OR      1355
45     PW     AS         0
46     RI     ID       497
47    RMI     AS         0
48     SC     AL      1579
49     SD     NH      1992
50     TN     VA     11051
51     TX     FL     42602
52     US     CA   3873447
53     UT     AR       844
54     VA     MI        35
55     VI     GU        34
56     VT     HI       242
57     WA     WI       141
58     WI     WA       141
59     WV     ND        54
60     WY     AK       140

[61 rows x 3 columns]

### Exercise - Non-symmetric pairs

Some of these pairs repeat - for example, AK's closest match is WY at 140, and WY's closest match is AK. 

Which pairs are only work in one direction? For example, Texas's closest match is Florida, but Florida's closest match is California.